<!-- if coming from search page
	only show those stories

else -->
	<h1><%= @story.title %></h1>
	<h2><%= "Category:" @story.category %></h2>
	<h3><%= "Upvotes:" @story.Upvotes %></h3>
	<p><%= "More details:" @story.link %></p>
<!-- end -->

